.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#caption {
	text-align: center;
	font-size: 2em;
}

#meme_img {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;
}

#created_date {
	text-align: right;
	font-size: 1em;
	display: inline-block;
	align-self: right;
}

#edit_button {
	display: inline-block;
}

a.spaced {
	margin-top: 5px;
	margin-bottom: 5px;
}

