body {
    background-color: #000;
}

#landing-header {
    /* Coming forward towards us, layering it on top of anything with a z-index < 1 */
    /* Webpages are 3D */
    z-index: 1;
    
    /* This is so z-index is not ignored. It's ignored when position is static, which is default */
    position: relative;
    
    text-align: center;
    
    /* vh - view height */
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow { 
  position: fixed;
  
  /* take up whole page */
  width: 100%;
  height: 100%;
  
  /* start at top-left corner */
  top: 0;
  left: 0;
  
  /* ensure this is below the landing header */
  z-index: 0;
  
  /* get rid of bullet points */
  list-style: none;
  
  /* remove margin and padding */
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  
  position: absolute;
  
  top: 0;
  left: 0;
  
  /* allow images to take up whole space */
  background-size: cover;
  /* allow perfectly centered images */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  /* start images faded out */
  opacity: 0;
  
  /* bg images are placed behind text and button */
  z-index: 0;
  
  /* allow images to fade in and out */
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://i.imgur.com/uXo18p4.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/022/937/tumblr_om45kmphwg1vmzyato1_1280.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://i.redd.it/cxkeycugb3501.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://i.ytimg.com/vi/pN6DkpMEKkE/hqdefault.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://pics.me.me/hellorcovfefen-covfefemachine-broke-understandable-have-a-nice-day-21904416.png);
  animation-delay: 40s; 
}

/* defining the animation */
/* animation goes from 0 to 100%, but only work w 0-30% */
/* result: 5 images, 10 seconds a piece */
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
/* Browsers that don't support animations will just have one slide as a static bg */
.no-cssanimations .slideshow li {
	opacity: 1;
}