
{% extends 'posts/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">
	<p id="caption">{{post.caption}}</p>
	<img id="meme_img" src="{{post.image}}">
	<br>

	{% if user == post.author %}
		<a id="edit_button" class="btn btn-sm btn-info" href="/posts/update/{{post.id}}">Edit Post</a>
		<a class="btn btn-sm btn-danger" href="/posts/delete/{{post.id}}">Delete Post</a>
	{% endif %}

	<p id="created_date">Posted by <strong>{{post.author}}</strong> on {{post.created_at}}</p>
	<form action="{{posts.get_api_like_url}}" method="post">
    {% csrf_token %}
    <button type="submit" name="post_slug" value="{{ posts.slug }}" class="btn like_button btn-primary">Like</button>
    <button type="submit" name="post_slug" value="{{ posts.slug }}" class="btn like_button btn-danger">Dislike</button>

	</form>
</div>

<a href="/posts" class="spaced btn btn-default">Return to Posts</a>
<!--Comment-->
<br><br>
<hr>
<h2>{{ comments.count }} Comment{{ comments|pluralize }}</h2>
<form method="post">
	{% csrf_token %}
	{{ comment_form }}
	<br>
	{% if user.is_authenticated %}
		<input type="submit" value="Post comment" class="btn btn-outline-success">
	{% else %}
		<input type="submit" value="Post comment" class="btn btn-outline-success" disabled>
	{% endif %}	
</form>

<div class="main-comment-section">
	<br>
	{% for comment in comments %}
	<blockquote class="blockquote">
		<p class="mb-0">{{ comment.comment }}</p>

		<footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst}} on {{ comment.timestamp }}</cite></footer>
	</blockquote>
	<br>
	{% endfor %}
</div>



{% endblock %}